<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
  <%- include("./partials/header.ejs") %>
    <main class="main-container">
      <section class="products">
        <h2 class="main-title">Productos</h2>
        <div class="product-container">
          <% for (let i=0; i < products.length; i++) { %>
          <article class="product-article">
            <img src="<%=products[i].picture %>"  />
            <p class="p"><%= products[i].name %></p>
            <button class="search-btn"><a href="/products/productDetail/<%= products[i].id %>">Ver detalle</a></button>
          </article>
          <% } %>
        </div>
        <section class="vegan">
          <img src="/img/healthy.png" alt="healthy">
        </section>
        <article class="product-section">
          <div class="container">
            <img src="/img/pollo.jpeg" alt="imagen de productos" />
            <div class="descripcion-producto">
              <p class="p">Investigá más sobre nuestros productos aquí</p>
              <button class="search-btn"><a href="/products">Productos</a></button>
            </div>
          </div>
        </article>
      </section>
      <section class="container-carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
              aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
              aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
              aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/img/publicidad-3.png" class="d-block w-100" alt="foto1">
              <button class="search-carousel"><a href="/products">Ver más</a></button>
            </div>
            <div class="carousel-item">
              <img src="/img/publicidad-2.png" class="d-block w-100" alt="foto2">
              <button class="search-carousel"><a href="/products">Ver ahora</a></button>
            </div>
            <div class="carousel-item">
              <img src="/img/publicidad-1.png" class="d-block w-100" alt="foto3">
              <button class="search-carousel"><a href="/products">Conoce más</a></button>
            </div>
            <div class="carousel-item">
              <img src="/img/publicidad.png" class="d-block w-100" alt="foto4">
              <button class="search-carousel"><a href="/products">Descubrilos</a></button>
            </div>
            <div class="carousel-item">
              <img src="/img/publicidad-4.png" class="d-block w-100" alt="foto5">
              <button class="search-carousel"><a href="/products">Ver más</a></button>
            </div>
            <div class="carousel-item">
              <img src="/img/publicidad-5.png" class="d-block w-100" alt="foto6">
              <button class="search-carousel"><a href="/products">Conoce más</a></button>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
      <div class="us-container">
        <section class="quienes-somos" id="about-us">
          <h2 class="main-title">Quienes somos</h2>
          <article class="us-article">
            <h4 class="h4">Nuestra misión</h4>
            <p class="p">
              Ofrecer alimentos saludables y nutritivos que ayuden a mejorar la
              alimentación y a conectarnos con la naturaleza desde un nuevo lugar.
              Ofrecemos un servicio que permitirá conocer alternativas para tus
              comidas y conseguirlas de una forma simple, segura y rápida.
            </p>
          </article>
          <article class="us-article">
            <h4 class="h4">¿Cómo lo hacemos?</h4>
            <p class="p">
              Trabajamos constantemente junto a un equipo de especialistas
              en nutrición, salud y buenas prácticas para ofrecerte los mejores productos del mercado.
              En Huerto Market buscamos constantemente brindar soluciones para una vida saludable en todos sus aspectos,
              a través de productos conscientes y alimentos naturales con responsabilidad social y ambiental.
            </p>
          </article>
        </section>

        <section class="noticias" id="news">
          <h3 class="h3">Noticias</h3>
          <div class="news-container">
            <div class="news img">
              <img src="/img/credit-card.jpg" alt="noticias" class="news-img" />
            </div>
            <article class="news-article">
              <p class="p">
                Esta semana tenés descuentos de hasta el 30% comprando con tarjeta
                de crédito.
              </p>
          </div>
          </article>
      </div>
      </section>

      <section class="sucursales" id="braches">
        <h2 class="main-title">Sucursales</h2>
        <div class="sucursal-container">
          <article class="sucursal-article">
            <img src="/img/sucursal.png" alt="sucursale1" class="sucursal1" />
            <div class="sucursal-item">
              <p class="p">Cosme 1380.</p>
              <p class="p">Tel. 1385782</p>
            </div>
          </article>
          <article class="sucursal-article">
            <div class="sucursal-item">
              <p class="p">Fulanito 125</p>
              <p class="p">Tel. 4892471</p>
            </div>
            <div class="sucursal-image">
              <img src="/img/sucursal.png" alt="sucursal2" class="sucursal2" />
            </div>
          </article>
          <article class="sucursal-article">
            <img src="/img/sucursal.png" alt="sucursal3" class="sucursal1" />
            <div class="sucursal-item">
              <p class="p">Calle Falsa 123</p>
              <p class="p">Tel. 9876424</p>
            </div>
          </article>
      </section>
      </div>
      <section class="reseñas">
        <h2 class="main-title">Reseñas</h2>
        <img src="/img/reseñas.png" alt="reseñas">
      </section>

    </main>
    <%- include("./partials/footer.ejs") %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>