<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/productCart.css" />
    <link rel="stylesheet" href="/css/other-pages.css" />
  </head>

  <body>
    <%- include ("./../partials/header.ejs") %>

    <main class="main">
      <section id="titulo">
        <div class="contenedor-titulo">
          <h1>TU PEDIDO:</h1>
          <h3>Te estás llevando:</h3>
          <h3><%=productsCart.name %></h3>
        </div>
      </section>
      <section class="volver">
        <button>
          <a href="/products"
            ><i class="fas fa-arrow-circle-left"></i>Seguir comprando
          </a>
        </button>
      </section>
      <div class="container">
        <div class="product-container">
          <section class="contenedor-subtitulos">
            <h2 class="productos">Productos</h2>
            <h2 class="precio">Precio</h2>
            <h2 class="cantidad">Cantidad</h2>
            <h2 class="total">Total</h2>
          </section>

          <section class="product-list">
            <article class="contenedor-articulo">
              <img src="<%=productsCart.picture %>" width="120" height="120" />
              <div class="product-item">
                <p class="product-description">
                  <%= productsCart.description %>
                </p>

                <p class="product-price">$ <%= productsCart.price %></p>
                <div class="contar">
                  <button class="plus">-</button>
                  <input type="number" name="cantidad" id="cantidad" />
                  <button class="less">+</button>
                </div>
                <div class="product-total">
                  <p class="total-price">TOTAL</p>
                  <p>$<%= productsCart.price %></p>
                  <i class="fas fa-trash-alt"></i>
                </div>
              </div>
            </article>
          </section>
          <section class="actualizar">
            <button type="reset">
              <i class="fas fa-undo-alt"></i>Actualizar carrito
            </button>
          </section>
        </div>
        <div class="compra">
          <section class="finalizar-compra">
            <div class="contenedor-compra">
              <h2>Resumen de compra</h2>
              <p>Subtotal: $ <%= productsCart.price %></p>
              <p>Descuento: % <%= productsCart.discount %></p>
              <div class="total-compra">
                <p>TOTAL:</p>
                <%if(productsCart.discount> 0) { %>
                <p>
                  $ <%=
                  toThousand(productsCart.price-(productsCart.price/productsCart.discount))
                  %>
                </p>
                <% }else{ %>
                <p>$ <%= toThousand(productsCart.price) %></p>
                <%} %>
              </div>
            </div>
            <div class="compra">
              <button type="submit" class="search-btn">FINALIZAR COMPRA</button>
            </div>
          </section>
          <section class="cupon">
            <i class="fas fa-tags"></i> <label for="codigo"></label>
            <input type="codigo" name="codigo" id="codigo" />
            <button type="submit">Aplicar cupón</button>
          </section>
          <section class="banco">
            <p>Medios de pago</p>
            <div class="bancos-container">
              <ul>
                <li><i class="fab fa-cc-visa"></i></li>
                <li><i class="fab fa-cc-paypal"></i></li>
                <li><i class="fab fa-cc-mastercard"></i></li>
                <li><i class="fab fa-cc-diners-club"></i></li>
                <li><i class="fab fa-cc-amex"></i></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
      <section class="title-vendidos">
        <b class="title"></b>
        <h1>¿Cómo comprar?</h1>
        <b class="title"></b>
        <div class="seleccionar-productos">
          <img src="/img/carrito-compra.png" alt="carrito" />
        </div>
      </section>
    </main>
    <%- include("./../partials/footer.ejs") %>
  </body>
</html>
