<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/other-pages.css" />

</head>

<body>

  <%- include("./../partials/header.ejs") %>
    <main class="main">
      <section class="products">
        <h2 class="h2">Productos</h2>
        <div class="product-container">
          <% for (let i=0; i < products.length; i++) { %>
            <article class="product-article">
              <img src=<%=products[i].picture %> />
              <div class="favoritos">
                <i class="fas fa-heart"></i>
              </div>
              <p class="p">
                <%= products[i].name %>
              </p>
              <p class="price"> $
                <%= products[i].price %>
              </p>
              <button class="search-btn"><a href="/products/productDetail/<%= products[i].id %> ">Ver
                  detalle</a></button>
              <button class="search-btn"><a href="/products/productCart/<%= products[i].id %> ">Comprar</a></button>
            </article>
            <% } %>
        </div>
        <section class="share">
          <p class="share-title">Compartí en redes sociales</p>
          <ul>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-google"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-pinterest-p"></i></li>
            <li><i class="fab fa-whatsapp"></i></li>
          </ul>
        </section>
      </section>
      <section>
        <div class="title-vendidos">
          <b class="title "></b>
          <h1>¿Cómo comprar?</h1>
          <b class="title"></b>
        </div>
        <div class="seleccionar-productos">
          <img src="/img/ayuda.png" alt="help">
        </div>
      </section>

      <%- include ("./../partials/footer.ejs") %>
</body>

</html>